<div class="form-container">
  <h2 class="form-title">Edit Event</h2>
  <form method="POST" action="/events/<%= event._id %>" enctype="multipart/form-data">
    <div class="field">
      <input type="text" placeholder="Title" value="<%= event.title %>" name="title" />
    </div>
    <div class="field">
      <textarea type="text" placeholder="Description" name="description"><%= event.description %></textarea>
    </div>
    <div class="field">
      <input type="text" placeholder="Location" value="<%= event.location.address %>" name="location" />
    </div>
    <div class="field date-time-field">
      <input type="date" placeholder="Date" value="<%= event.date %>" name="date" />
      <input type="time" placeholder="Time" value="<%= event.time %>" name="time" />
    </div>
    <div class="field">
      <input type="file" placeholder="Picture" name="imgPath" id="file" class="inputfile"/>
      <label for="file">Upload the event Picture</label>
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>
</div>

<script src="/javascripts/fileUpload.js"></script>