<div class="form-container">
  <h2 class="form-title">Edit Event</h2>
  <form method="POST" action="/events/<%= event._id %>">
    <div class="field">
      <input type="text" placeholder="Title" value="<%= event.title %>" name="title" />
    </div>
    <div class="field">
      <input type="text" placeholder="Description" value="<%= event.description %>" name="description" />
    </div>
    <div class="field">
      <input type="text" placeholder="Location" value="<%= event.location %>" name="location" />
    </div>
    <div class="field">
      <input type="text" placeholder="Date" value="<%= event.date %>" name="date" />
    </div>
    <div class="field">
      <input type="text" placeholder="Time" value="<%= event.time %>" name="time" />
    </div>
    <div class="field">
      <input type="text" placeholder="Picture" value="<%= event.picture %>" name="picture" />
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
  </form>
</div>