<% if (messages[0]) { %>
  <div class="alert alert-success alert-edit-profile text-center">
    <p><%= messages[0] %><a href="/profiles/update" class="edit-button"><i class="far fa-edit"></i></a></p>
  </div>
<% }; %>
<div class="container">
  <% events.forEach((event) => { %>
    <div class="event-card">
      <div class="date-time">
        <p><%= event.date %></p>
        <p><%= event.time %></p>
      </div>
      <img src="/images/Location.png" alt="">
      <div class="location">
        <p><%= event.location %></p>
        <p><%= event.title %></p>
      </div>
      <div class="guests">
        <p><%= event.guests.length %> Ironhackers</p>
      </div>
       <a href="/events/<%= event._id %>" class="link"></a>
    </div>
  <% }); %>
</div>


