<% if (messages[0]) { %>
  <div class="alert alert-success alert-edit-profile text-center">
    <p><%= messages[0] %><a href="/events" class="edit-button"><i class="far fa-edit"></i></a></p>
  </div>
<% }; %>
<div class="container">
  <% events.forEach((event) => { %>
    <div class="card">
      <div class="title">
        <p><%= event.date %></p>
        <p><%= event.time %></p>
      </div>
      <p><%= event.location %></p>
      <p><%= event.title %></p>
      <p><%= event.guests %></p>
      <a href="/events/<%= event._id %>" class="link"></a>
    </div>
  <% }); %>
</div>