<div class="container">
  <% events.forEach((event) => { %>
    <div class="card">
      <div class="title">
        <p><%= event.date %></p>
        <p><%= event.time %></p>
      </div>
      <p><%= event.location %></p>
      <p><%= event.title %></p>
      <p><%= event.guests %></p>
      <a href="/event/<%= event._id %>" class="link"></a>
    </div>
  <% }); %>
</div>