<% if (messages[0]) { %>
  <div class="alert alert-success alert-edit-profile text-center">
    <p><%= messages[0] %><a href="/profiles/update" class="edit-button"><i class="far fa-edit"></i></a></p>
  </div>
<% }; %>
<div class="container">
  <% events.forEach((event) => { %>
    <div class="event-card">
      <div class="date-time">
        <p><%= event.date %></p>
        <p><%= event.time %></p>
      </div>
      <div class="information">
        <h2><%= event.title %></h2>
        <h5>Organizer: <span><%= event.owner.firstName %> <%= event.owner.lastName %></span></h5>
        <h5>Location: <span><%= event.location.name %>, <%= event.location.vicinity %></span></h5>
      </div>
      <div class="guests">
        <p><%= event.guests.length %> Ironhackers</p>
      </div>
      <a href="/events/<%= event._id %>" class="link"></a>
    </div>
  <% }); %>
</div>


