<div class="container guest-container">
  <div class="date-time">
    <h3 class="date"><%= event.date %></h3>
    <h3 class="time"><%= event.time %></h3>
  </div>
  <h2 class="title"><%= event.title %></h2>
  <div class="owner">
    <% if (event.owner.imgPath) { %>
      <img src="<%= event.owner.imgPath %>" class="avatar" alt="">
    <% } else { %>
      <img src="/images/avatar.png" class="avatar" alt="">
    <% }; %>
    <div class="info">
      <h4>Organizer</h4>
      <% if (event.owner.firstName && event.owner.lastName) { %>
        <h4><%= event.owner.lastName %>, <%= event.owner.firstName %></h4>
        <h4><%= event.owner.email %></h4>
      <% } else { %>
        <h4><%= event.owner.email %></h4>
      <% }; %>
    </div>
  </div>
  <div class="guests">
    <% if (event.guests.length === 0) { %>
      <h4>There is no guests yet</h4>
      <p>Invite your first one</p>
    <% } else { %>
      <h4>Guests</h4>
      <div class="guests-card">
        <h4><% event.guests.lenght %> Ironhackers</h4>
        <% event.guests.forEach((guest) => { %>
          <img src="/images/avatar.png" alt="avatar" class="avatar">
        <% }); %>
      </div>
    <% }; %>
  </div>
  <div class="details">
    <h4>Details</h4>
    <p><%= event.description %></p>
  </div>
  <div class="location">
    <h4>When & Where</h4>
    <div class="date-holder">
      <img src="/images/date.svg" alt="">
      <div class="date">
        <p><%= event.time %></p>
        <p><%= event.date %></p>
      </div>
    </div>
    <div class="location-holder">
      <img src="/images/Location.svg" alt="">
      <p><%= event.location %></p>
    </div>
    <img src="/images/location.png" alt="avatar" class="mapa">
  </div>
  <div class="pictures">
  </div>
  <div class="button-holder">
    <% if (event.owner._id == currentUser._id) { %>
      <a href="/events/<%= event._id %>/edit" class="btn btn-edit">Edit</a>
      <form method="POST" action="/events/<%= event._id %>/cancel">
        <button type="submit" class="btn btn-cancel">Cancel</button>
      </form>
    <% } else { %>
      <a href="/" class="btn btn-ignore">Ignore</a>
    <% }; %>
  </div>
</div>
