<div class="container guest-container">
  <div class="header">
    <div class="title">
      <h5><%= event.date %></h5>
      <h2><%= event.title %></h2>
      <div class="owner">
        <% if (event.owner.imgPath) { %>
          <img src="<%= event.owner.imgPath %>" class="avatar" alt="">
        <% } else { %>
          <img src="/images/avatar.png" class="avatar" alt="">
        <% }; %>
        <div class="owner-details">
          <% if (event.owner.firstName && event.owner.lastName) { %>
            <p>Organizer: <%= event.owner.firstName %> <%= event.owner.lastName %></p>
            <p><%= event.owner.email %></p>
          <% } else { %>
            <p><%= event.owner.email %></p>
          <% }; %>
        </div>
      </div>
    </div>
    <div class="guests">
      <% if (event.guests.length === 0) { %>
        <p>Nobody answer yet</p>
      <% } else { %>
        <p><%= event.guests.length %> Ironhackers attending</p>
      <% }; %>
      <div class="btn-holder">
        <% if (event.owner._id == currentUser._id) { %>
          <a href="/events/<%= event._id %>/invite" class="btn btn-edit">Invite</a>
          <form method="POST" action="/events/<%= event._id %>/cancel" class="form-cancel">
            <button type="submit" class="btn btn-cancel">Cancel</button>
          </form>
        <% } else { %>
          <form method="POST" action="/events/<%= event._id %>/ignore" class="form-ignore">
            <input type="hidden" value="<%= currentUser._id %>" name="user" />
            <button type="submit" class="btn btn-ignore">Ignore Event</button>
          </form>
        <% }; %>
      </div>
    </div>
  </div>
  <div class="details-container">
    <div class="location">
      <h3>When & Where</h3>
      <div class="date-holder">
        <img src="/images/Date.svg" alt="">
        <div class="date">
          <p><%= event.date %> at <%= event.time %> </p>
        </div>
      </div>
      <div class="location-holder">
        <img src="/images/Location.svg" alt="">
        <p><%= event.location.address %></p>
      </div>
      <div class="map-container">
        <p id="marker">🍻</p>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=
        <%= event.location.coordinates[1] %>,
        <%= event.location.coordinates[0] %>&zoom=16&size=1600x300&key=
        <%= process.env.STATIC_GOOGLE_API_KEY %>" alt="" class="mapa">
      </div>
    </div>
    <div class="details">
      <div class="detail-text">
        <h3>Details</h3>
        <p><%= event.description %></p>
      </div>
      <div class="guests-cards">
        <h3>Assistants</h3>
        <div class="card-list">
          <% if (event.guests.length === 0) { %>
            <div class="guest-card">
              <% if (event.owner.imgPath) { %>
                <img src="<%= event.owner.imgPath %>" class="avatar-sm" alt="">
              <% } else { %>
                <img src="/images/avatar.png" class="avatar-sm" alt="">
              <% }; %>
              <p><%= event.owner.firstName %></p>
            </div>
          <% } else { %>
            <div class="guest-card">
              <% if (event.owner.imgPath) { %>
                <img src="<%= event.owner.imgPath %>" class="avatar-sm" alt="">
              <% } else { %>
                <img src="/images/avatar.png" class="avatar-sm" alt="">
              <% }; %>
              <p><%= event.owner.firstName %></p>
            </div>
            <% event.guests.forEach((guest) => {%>
              <div class="guest-card">
                <% if (guest.imgPath) { %>
                  <img src="<%= guest.imgPath %>" class="avatar-sm" alt="">
                <% } else { %>
                  <img src="/images/avatar.png" class="avatar-sm" alt="">
                <% }; %>
                <p><%= guest.firstName %></p>
              </div>
            <% }); %>
          <% }; %>
        </div>
      </div>
      <div class="pictures">
      </div>
    </div>
  </div>
</div>

